In [1]:
import pandas as pd

In [2]:
crop_data_ndvi = pd.read_csv('./data/ndvi/validation_data_ndvi.csv')
crop_data_ndvi.drop(columns=['ndvi'], inplace=True)

crop_data_ndvi.head()

                     Latitude and Longitude        vh        vv       RVI
0   (10.18019073690894, 105.32022315786804)  0.007541  0.230875  0.022502
1  (10.561107033461816, 105.12772097986661)  0.004003  0.083652  0.039041
2  (10.623790611954897, 105.13771401411867)  0.027154  0.186894  0.180737
3  (10.583364246115156, 105.23946127195805)  0.001572  0.009353  0.218368
4   (10.20744446668854, 105.26844107128906)  0.028073  0.150525  0.249271

In [3]:
ndvi = pd.read_csv('./data/ndvi/ndvi_val_meanmaxmin.csv')

ndvi.head()

   ndvi_mean  ndvi_max  ndvi_min
0   0.650296  0.829748  0.186204
1   0.577806  0.700386  0.430831
2   0.289559  0.767500 -0.002943
3   0.411636  0.613002  0.287590
4   0.680642  0.865726  0.358249

In [4]:
crop_data_ndvi.shape, ndvi.shape

((250, 4), (250, 3))

In [5]:
crop_data_ndvi = pd.merge(crop_data_ndvi, ndvi, left_index=True, right_index=True)

crop_data_ndvi.head()

,Latitude and Longitude,vh,vv,RVI,ndvi_mean,ndvi_max,ndvi_min
0,"(10.18019073690894, 105.32022315786804)",0.007541,0.230875,0.022502,0.650296,0.829748,0.186204
1,"(10.561107033461816, 105.12772097986661)",0.004003,0.083652,0.039041,0.577806,0.700386,0.430831
2,"(10.623790611954897, 105.13771401411867)",0.027154,0.186894,0.180737,0.289559,0.767500,-0.002943
3,"(10.583364246115156, 105.23946127195805)",0.001572,0.009353,0.218368,0.411636,0.613002,0.287590
4,"(10.20744446668854, 105.26844107128906)",0.028073,0.150525,0.249271,0.680642,0.865726,0.358249

In [6]:
crop_data_ndvi.shape

(250, 7)

In [7]:
crop_data_ndvi.to_csv('./data/ndvi/validation_data_ndvi.csv', index=False)