In [1]:
import pandas as pd

In [2]:
ndvi = pd.read_csv('../../data/ndvi/ndvi_val_waterfiltered_march0005.csv')

ndvi.head()

                     Latitude and Longitude  ndvi_mean  ndvi_max  ndvi_min
0   (10.18019073690894, 105.32022315786804)   0.094402  0.166159  0.053875
1  (10.561107033461816, 105.12772097986661)   0.171151  0.265981  0.124449
2  (10.623790611954897, 105.13771401411867)   0.597735  0.742831  0.433491
3  (10.583364246115156, 105.23946127195805)   0.094564  0.546004 -0.091027
4   (10.20744446668854, 105.26844107128906)   0.099366  0.138012  0.075622

In [3]:
validation_data_ndvi = pd.read_csv('../../data/ndvi/validation_data_ndvi.csv').drop(columns=['ndvi_mean', 'ndvi_max', 'ndvi_min'])

validation_data_ndvi.head()

                     Latitude and Longitude        vh        vv       RVI
0   (10.18019073690894, 105.32022315786804)  0.007541  0.230875  0.022502
1  (10.561107033461816, 105.12772097986661)  0.004003  0.083652  0.039041
2  (10.623790611954897, 105.13771401411867)  0.027154  0.186894  0.180737
3  (10.583364246115156, 105.23946127195805)  0.001572  0.009353  0.218368
4   (10.20744446668854, 105.26844107128906)  0.028073  0.150525  0.249271

In [4]:
data = pd.merge(validation_data_ndvi, ndvi, on='Latitude and Longitude')

data.head()

,Latitude and Longitude,vh,vv,RVI,ndvi_mean,ndvi_max,ndvi_min
0,"(10.18019073690894, 105.32022315786804)",0.007541,0.230875,0.022502,0.094402,0.166159,0.053875
1,"(10.561107033461816, 105.12772097986661)",0.004003,0.083652,0.039041,0.171151,0.265981,0.124449
2,"(10.623790611954897, 105.13771401411867)",0.027154,0.186894,0.180737,0.597735,0.742831,0.433491
3,"(10.583364246115156, 105.23946127195805)",0.001572,0.009353,0.218368,0.094564,0.546004,-0.091027
4,"(10.20744446668854, 105.26844107128906)",0.028073,0.150525,0.249271,0.099366,0.138012,0.075622

In [5]:
data.shape

(250, 7)

In [6]:
data.to_csv('../../data/ndvi/validation_data_ndvi_waterfiltered_march_bbox0005.csv', index=False)