In [1]:
import pandas as pd

In [2]:
ndvi = pd.read_csv('../../data/ndvi/ndvi_waterfiltered_march0005.csv')

ndvi.head()

                     Latitude and Longitude  ndvi_mean  ndvi_max  ndvi_min
0   (10.323727047081501, 105.2516346045924)   0.265044  0.464772  0.162271
1  (10.322364360592521, 105.27843410554115)   0.208550  0.374123  0.124027
2  (10.321455902933202, 105.25254306225168)   0.272846  0.480501  0.154799
3  (10.324181275911162, 105.25118037576274)   0.283613  0.465383  0.164137
4  (10.324635504740822, 105.27389181724476)   0.247124  0.413593  0.155646

In [3]:
crop_data_ndvi = pd.read_csv('../../data/ndvi/crop_data_ndvi.csv').drop(columns=['ndvi_mean', 'ndvi_max', 'ndvi_min'])

crop_data_ndvi.head()

,Latitude and Longitude,Class of Land,vh,vv,RVI
0,"(10.323727047081501, 105.2516346045924)",Rice,0.004257,0.136713,0.020992
1,"(10.322364360592521, 105.27843410554115)",Rice,0.005324,0.008367,0.970000
2,"(10.321455902933202, 105.25254306225168)",Rice,0.012065,0.103548,0.134852
3,"(10.324181275911162, 105.25118037576274)",Rice,0.004077,0.112445,0.026182
4,"(10.324635504740822, 105.27389181724476)",Rice,0.001757,0.041582,0.032664

In [4]:
data = pd.merge(crop_data_ndvi, ndvi, on='Latitude and Longitude')

data.head()

,Latitude and Longitude,Class of Land,vh,vv,RVI,ndvi_mean,ndvi_max,ndvi_min
0,"(10.323727047081501, 105.2516346045924)",Rice,0.004257,0.136713,0.020992,0.265044,0.464772,0.162271
1,"(10.322364360592521, 105.27843410554115)",Rice,0.005324,0.008367,0.970000,0.208550,0.374123,0.124027
2,"(10.321455902933202, 105.25254306225168)",Rice,0.012065,0.103548,0.134852,0.272846,0.480501,0.154799
3,"(10.324181275911162, 105.25118037576274)",Rice,0.004077,0.112445,0.026182,0.283613,0.465383,0.164137
4,"(10.324635504740822, 105.27389181724476)",Rice,0.001757,0.041582,0.032664,0.247124,0.413593,0.155646

In [5]:
data.shape

(600, 8)

In [6]:
data.to_csv('../../data/ndvi/crop_data_ndvi_waterfiltered_march_bbox0005.csv', index=False)