In [1]:
import pandas as pd

In [2]:
ndvi = pd.read_csv('../../data/ndvi/ndvi_val_march_bbox00004.csv')
ndvi.fillna(0.7, inplace=True) # NaNs for water, replaced by 0.7 (way above rice levels for this time of year)

ndvi.head()

                     Latitude and Longitude  ndvi_mean  ndvi_max  ndvi_min
0   (10.18019073690894, 105.32022315786804)   0.070417  0.138828 -0.001752
1  (10.561107033461816, 105.12772097986661)   0.170399  0.316607  0.043861
2  (10.623790611954897, 105.13771401411867)   0.711041  0.751899  0.684168
3  (10.583364246115156, 105.23946127195805)   0.700000  0.700000  0.700000
4   (10.20744446668854, 105.26844107128906)   0.015140  0.032720 -0.002439

In [3]:
validation_data_ndvi = pd.read_csv('../../data/validation_data_bbox5x5.csv')

validation_data_ndvi.head()

                     Latitude and Longitude        vh        vv       RVI
0   (10.18019073690894, 105.32022315786804)  0.005058  0.383090  0.005950
1  (10.561107033461816, 105.12772097986661)  0.001983  0.081168  0.014730
2  (10.623790611954897, 105.13771401411867)  0.017813  0.111093  0.205469
3  (10.583364246115156, 105.23946127195805)  0.003966  0.006158  0.980703
4   (10.20744446668854, 105.26844107128906)  0.020260  0.159520  0.151326

In [4]:
data = pd.merge(validation_data_ndvi, ndvi, on='Latitude and Longitude')

data.head()

,Latitude and Longitude,vh,vv,RVI,ndvi_mean,ndvi_max,ndvi_min
0,"(10.18019073690894, 105.32022315786804)",0.005058,0.383090,0.005950,0.070417,0.138828,-0.001752
1,"(10.561107033461816, 105.12772097986661)",0.001983,0.081168,0.014730,0.170399,0.316607,0.043861
2,"(10.623790611954897, 105.13771401411867)",0.017813,0.111093,0.205469,0.711041,0.751899,0.684168
3,"(10.583364246115156, 105.23946127195805)",0.003966,0.006158,0.980703,0.700000,0.700000,0.700000
4,"(10.20744446668854, 105.26844107128906)",0.020260,0.159520,0.151326,0.015140,0.032720,-0.002439

In [5]:
data.shape

(250, 7)

In [15]:
data.to_csv('../../data/ndvi/validation_data_ndvi_march_bbox5x5.csv', index=False)