In [1]:
import pandas as pd

In [2]:
crop_data_ndvi = pd.read_csv('./data/ndvi/crop_data_ndvi.csv')
crop_data_ndvi.drop(columns=['ndvi'], inplace=True)

crop_data_ndvi.head()

,Latitude and Longitude,Class of Land,vh,vv,RVI
0,"(10.323727047081501, 105.2516346045924)",Rice,0.004257,0.136713,0.020992
1,"(10.322364360592521, 105.27843410554115)",Rice,0.005324,0.008367,0.970000
2,"(10.321455902933202, 105.25254306225168)",Rice,0.012065,0.103548,0.134852
3,"(10.324181275911162, 105.25118037576274)",Rice,0.004077,0.112445,0.026182
4,"(10.324635504740822, 105.27389181724476)",Rice,0.001757,0.041582,0.032664

In [3]:
ndvi = pd.read_csv('./data/ndvi/ndvi_meanmaxmin.csv')

ndvi.head()

   ndvi_mean  ndvi_max  ndvi_min
0   0.557887  0.856293  0.083284
1   0.621829  0.815575  0.124080
2   0.571163  0.855189  0.081872
3   0.555441  0.856934  0.079025
4   0.619721  0.831970  0.112539

In [4]:
crop_data_ndvi.shape, ndvi.shape

((600, 5), (600, 3))

In [5]:
crop_data_ndvi = pd.merge(crop_data_ndvi, ndvi, left_index=True, right_index=True)

crop_data_ndvi.head()

,Latitude and Longitude,Class of Land,vh,vv,RVI,ndvi_mean,ndvi_max,ndvi_min
0,"(10.323727047081501, 105.2516346045924)",Rice,0.004257,0.136713,0.020992,0.557887,0.856293,0.083284
1,"(10.322364360592521, 105.27843410554115)",Rice,0.005324,0.008367,0.970000,0.621829,0.815575,0.124080
2,"(10.321455902933202, 105.25254306225168)",Rice,0.012065,0.103548,0.134852,0.571163,0.855189,0.081872
3,"(10.324181275911162, 105.25118037576274)",Rice,0.004077,0.112445,0.026182,0.555441,0.856934,0.079025
4,"(10.324635504740822, 105.27389181724476)",Rice,0.001757,0.041582,0.032664,0.619721,0.831970,0.112539

In [6]:
crop_data_ndvi.shape

(600, 8)

In [7]:
crop_data_ndvi.to_csv('./data/ndvi/crop_data_ndvi.csv', index=False)