In [1]:
import pandas as pd

In [6]:
ndvi = pd.read_csv('../../data/ndvi/ndvi_march_bbox00004.csv')
ndvi.fillna(0.7, inplace=True)

ndvi.head()

                     Latitude and Longitude  ndvi_mean  ndvi_max  ndvi_min
0   (10.323727047081501, 105.2516346045924)   0.330673  0.491473  0.169872
1  (10.322364360592521, 105.27843410554115)   0.153116  0.235487  0.097839
2  (10.321455902933202, 105.25254306225168)   0.244170  0.404756  0.083584
3  (10.324181275911162, 105.25118037576274)   0.295116  0.459224  0.131007
4  (10.324635504740822, 105.27389181724476)   0.187920  0.347197  0.099205

In [7]:
ndvi.isna().sum()

Latitude and Longitude    0
ndvi_mean                 0
ndvi_max                  0
ndvi_min                  0
dtype: int64

In [8]:
crop_data_ndvi = pd.read_csv('../../data/crop_data_bbox5x5.csv')

crop_data_ndvi.head()

,Latitude and Longitude,Class of Land,vh,vv,RVI
0,"(10.323727047081501, 105.2516346045924)",Rice,0.007940,0.229033,0.024531
1,"(10.322364360592521, 105.27843410554115)",Rice,0.001958,0.026450,0.072372
2,"(10.321455902933202, 105.25254306225168)",Rice,0.014930,0.176809,0.086913
3,"(10.324181275911162, 105.25118037576274)",Rice,0.008318,0.067144,0.146389
4,"(10.324635504740822, 105.27389181724476)",Rice,0.009465,0.199129,0.038663

In [9]:
data = pd.merge(crop_data_ndvi, ndvi, on='Latitude and Longitude')

data.head()

,Latitude and Longitude,Class of Land,vh,vv,RVI,ndvi_mean,ndvi_max,ndvi_min
0,"(10.323727047081501, 105.2516346045924)",Rice,0.007940,0.229033,0.024531,0.330673,0.491473,0.169872
1,"(10.322364360592521, 105.27843410554115)",Rice,0.001958,0.026450,0.072372,0.153116,0.235487,0.097839
2,"(10.321455902933202, 105.25254306225168)",Rice,0.014930,0.176809,0.086913,0.244170,0.404756,0.083584
3,"(10.324181275911162, 105.25118037576274)",Rice,0.008318,0.067144,0.146389,0.295116,0.459224,0.131007
4,"(10.324635504740822, 105.27389181724476)",Rice,0.009465,0.199129,0.038663,0.187920,0.347197,0.099205

In [10]:
data.shape

(600, 8)

In [18]:
data.to_csv('../../data/ndvi/crop_data_ndvi_march_bbox5x5.csv', index=False)